body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(174, 184, 213);
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 

li {
    display: inline;
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

div {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}